# Compiled source #
###################
**pyc

# Database file #
###################
**sqlite3

# Folders #
###################
node_modules/
.vscode/
.idea/
__pycache__/
migrations/
env/

**.iml
**.xml
